cloudProvider: ""

google:
  hostname: ""
  gateway:
    name: google-gateway-external
    namespace: google-gateway

prometheus:
  fullnameOverride: prometheus
  server:
    ingress:
      enabled: true
      ingressClassName: "alb"
      annotations:
        alb.ingress.kubernetes.io/ssl-redirect: "443"
        alb.ingress.kubernetes.io/group.name: internal
        alb.ingress.kubernetes.io/healthcheck-path: /
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS":443}]'
        alb.ingress.kubernetes.io/scheme: internal
        alb.ingress.kubernetes.io/success-codes: 200-499
        alb.ingress.kubernetes.io/target-type: ip
      hosts:
        - prometheus
      tls: []

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: mon
                  operator: In
                  values:
                    - "true"
          - weight: 10
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "mon"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 4000m
        memory: 8Gi
        ephemeral-storage: 10Gi
      requests:
        cpu: 300m
        memory: 2048Mi
        ephemeral-storage: 10Mi
  configmapReload:
    prometheus:
      resources:
        limits:
          cpu: 1000m
          memory: 1Gi
          ephemeral-storage: 1Gi
        requests:
          cpu: 5m
          memory: 16Mi
          ephemeral-storage: 10Mi
  prometheus-pushgateway:
    enabled: false
  alertmanager:
    enabled: true
    statefulSet:
      annotations:
        kube-score/ignore: pod-probes,pod-networkpolicy
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: mon
                  operator: In
                  values:
                    - "true"
          - weight: 10
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "mon"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 100m
        memory: 1Gi
        ephemeral-storage: 1Gi
      requests:
        cpu: 10m
        memory: 32Mi
        ephemeral-storage: 10Mi
    networkPolicy:
      enabled: true

  kube-state-metrics:
    enabled: true
    networkPolicy:
      enabled: true
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: mon
                  operator: In
                  values:
                    - "true"
          - weight: 10
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "mon"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1
        memory: 256Mi
        ephemeral-storage: 1Gi
      requests:
        cpu: 10m
        memory: 32Mi
        ephemeral-storage: 10Mi

  prometheus-node-exporter:
    enabled: true
    daemonsetAnnotations:
      kube-score/ignore: pod-probes
    resources:
      limits:
        cpu: 1
        memory: 1Gi
        ephemeral-storage: 1Gi
      requests:
        cpu: 10m
        memory: 16Mi
        ephemeral-storage: 10Mi
    networkPolicy:
      enabled: true

  networkPolicy:
    enabled: true
  resources:
    limits:
      cpu: 1
      memory: 1Gi
      ephemeral-storage: 1Gi
    requests:
      cpu: 10m
      memory: 16Mi
      ephemeral-storage: 10Mi
