apiVersion: v2
name: argocd
description: argocd
version: 0.1.0
appVersion: "0.1.0"

dependencies:
- name: argo-cd
  version: 7.1.5
  repository: https://argoproj.github.io/argo-helm
  alias: argocd
- name: argocd-apps
  version: 2.0.2
  repository: https://argoproj.github.io/argo-helm
