global:
  cloudProvider: ""
  addPrometheusAnnotations: true
  google:
    gateway:
      name: google-gateway-external
      namespace: google-gateway

argocd:
  crds:
    install: true
    keep: true
  global:
    domain: argocd.${domain}
    networkPolicy:
      create: true
  configs:
    params:
      server.insecure: false
    cm:
      accounts.infralib: apiKey
      application.resourceTrackingMethod: annotation
      resource.exclusions: |
            - apiGroups:
              - "*"
              kinds:
              - ProviderConfigUsage
      server.rbac.log.enforce.enable: "true"
      admin.enabled: "true"
      exec.enabled: "true"
    rbac:
      policy.csv: |
        p, infralib, applications, get, */*, allow
        p, infralib, applications, sync, */*, allow
        p, infralib, projects, get, *, allow
  server:
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 50m
        memory: 128Mi
        ephemeral-storage: 1Gi
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetMemoryUtilizationPercentage: 80
      targetCPUUtilizationPercentage: 90
    ingress:
      enabled: true
      controller: aws
      ingressClassName: "alb"
      annotations:
        alb.ingress.kubernetes.io/ssl-redirect: "443"
        alb.ingress.kubernetes.io/backend-protocol: HTTPS
        alb.ingress.kubernetes.io/listen-ports: '[{"HTTPS":443}]'
        alb.ingress.kubernetes.io/group.name: internal
        alb.ingress.kubernetes.io/scheme: internal
        alb.ingress.kubernetes.io/target-type: ip
      aws:
        serviceType: ClusterIP
        backendProtocolVersion: GRPC
  dex:
    deploymentAnnotations:
      kube-score/ignore: pod-probes
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
        ephemeral-storage: 20Gi
      requests:
        cpu: 10m
        memory: 32Mi
        ephemeral-storage: 2Gi

  redis:
    enabled: true
    deploymentAnnotations:
      kube-score/ignore: pod-probes
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 128Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 1Gi
  redisSecretInit:
    jobAnnotations:
      kube-score/ignore: pod-networkpolicy
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 128Mi
        ephemeral-storage: 1Gi
      requests:
        cpu: 10m
        memory: 64Mi
        ephemeral-storage: 1Mi

  redis-ha:
    enabled: false
    redis:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 90
              preference:
                matchExpressions:
                  - key: tools
                    operator: In
                    values:
                      - "true"
      tolerations:
        - key: "tools"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      resources:
        limits:
          cpu: 1000m
          memory: 128Mi
          ephemeral-storage: 10Gi
        requests:
          cpu: 100m
          memory: 128Mi
          ephemeral-storage: 1Gi
    sentinel:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 90
              preference:
                matchExpressions:
                  - key: tools
                    operator: In
                    values:
                      - "true"
      tolerations:
        - key: "tools"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      resources:
        limits:
          cpu: 1000m
          memory: 128Mi
          ephemeral-storage: 10Gi
        requests:
          cpu: 100m
          memory: 128Mi
          ephemeral-storage: 1Gi
    haproxy:
      affinity: |
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
              - key: tools
                operator: In
                values:
                - "true"
      tolerations:
        - key: "tools"
          operator: "Equal"
          value: "true"
          effect: "NoSchedule"
      resources:
        limits:
          cpu: 1000m
          memory: 128Mi
          ephemeral-storage: 10Gi
        requests:
          cpu: 100m
          memory: 128Mi
          ephemeral-storage: 1Gi

  repoServer:
    autoscaling:
      enabled: true
      minReplicas: 1
      maxReplicas: 3
      targetMemoryUtilizationPercentage: 80
      targetCPUUtilizationPercentage: 90

    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 1Gi

  applicationSet:
    replicaCount: 2
    deploymentAnnotations:
      kube-score/ignore: pod-networkpolicy,pod-probes
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 512Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 1Gi

  notifications:
    deploymentAnnotations:
      kube-score/ignore: pod-networkpolicy
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 1000m
        memory: 128Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 100m
        memory: 128Mi
        ephemeral-storage: 1Gi

  controller:
    env: 
    - name: ARGOCD_K8S_CLIENT_QPS
      value: "300"
    affinity:
      nodeAffinity:
        preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 90
            preference:
              matchExpressions:
                - key: tools
                  operator: In
                  values:
                    - "true"
    tolerations:
      - key: "tools"
        operator: "Equal"
        value: "true"
        effect: "NoSchedule"
    resources:
      limits:
        cpu: 2000m
        memory: 2048Mi
        ephemeral-storage: 10Gi
      requests:
        cpu: 100m
        memory: 512Mi
        ephemeral-storage: 1Gi
